.servises {
    width: 100%;
    min-height: 155vh;
    display: flex;
    flex-direction: column;margin-top: 3rem;
    gap: 1em;
    background-color: rgb(0, 0, 0);

}

.servicetext {
    font-size: clamp(3rem, 12vw, 11rem);
    color: white;
    display: flex;
    max-width: 100%;
    letter-spacing: -0.1em;
    font-weight: 700;
    font-family: interbold;
}

.servises span {
    font-size: clamp(8rem, 7vw, 11rem);
}

.wonderhoversection {
    justify-content: flex-end;
    width: 100%;
    /* height: 90vh; */min-height: 90vh;
    display: flex;
    align-items: flex-end;
    /* background-color: green; */

}

.sectionofhoverend {
    width: 60%;
    display: flex;
    gap: 1em;
    /* height: 90vh; */
    flex-direction: column;
    /* background-color: blue; */
}

.servicecontents {
    width: 100%;
    /* height: 145px; */
    display: flex;
    justify-content: space-between;
    padding: 2vw 2vw;
    /* background-color: rgb(255, 0, 183); */
    align-items: baseline;color: #fff;
}

.sernumber {
    flex: 1;font-size: 0.88em;font-weight: bold;
}

.sername {
    flex: 2;font-size: 1.1em;
}

.sercontents {
    flex: 2;font-size: 0.8em;font-family: interbold;color: #999999;
}

@media (max-width:769px) {
    .servises span {
        font-size: clamp(4rem, 5vw, 5rem);
    }

    .servicetext {
        align-items: center;
        justify-content: center;
    }
    .sername h3{
        font-style: 1em;
    }
    .sercontents{
        font-size: 0.7em;
    }
    .servises{
        min-height: auto;
    }
}

@media (max-width:500px) {
    .servises span {
        font-size: clamp(2rem, 3vw, 3rem);
    }
    .sername h3{
        font-size: 0.88em;
    }
   
.sectionofhoverend{
    padding: 0vw 4vw;
}
}


@media (max-width:1200px) {
  .sernumber{
    display: none;
  }
  .wonderhoversection{
    justify-content: flex-start;
    align-items: flex-start;
   
  }
  .sectionofhoverend{
    width: 100%;
  }
  .hover-image{
 display: none;
  }

}


.hover-image {
  position: fixed;
  top: 0;
  left: 0;
width: 150px;
    height: 210px;
    will-change: transform;
  object-fit: cover;
  border-radius: 12px;
  pointer-events: none;
  z-index: 1000;
}
