.designer {
    width: 100%;
    text-transform: capitalize;
    background-color: white;
    font-size: 1em;
    font-weight: 300;
opacity: 0;
    color: #000000;height: 0vh;
    text-align: center;
    transform: translate(-50%, -50%) ;
    position: absolute;transition: all 0.5s ease-in-out;
    left: 50%;

    top: 50%;
}
@media (max-width:800px) {
    .designer{
        opacity: 1;height: 3vh;
    }
}