.button {
    width: 100%;
    height: 100%;


}

 button {
    display: block;
    font-family: interbold;
    font-size: 1.5em;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1.3px;
    line-height: 20px;
    background-color: black;
    transform: none;
    will-change: transform;
    border: 2px solid white;
    color: #ffffff;

    padding: 15px 15px;
    outline: none;

    border-radius: 29px;
    overflow: hidden;
    position: relative;

    transition: all 0.4s ease;

}


@media (max-width:500px) {
    .button button {
        padding: 6px 16px;
        font-size: 1.3em;
    }
}






.button button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: rgb(0, 0, 0);
    padding: 0;
    bottom: -100%;

    transition: all 0.4s ease;
    background-color: rgb(255, 255, 255);
}

