.sticky-cards{
  position: relative;
  width: 100%;
  height: 100%;

}
.sticky-card h1{
  font-size: 7rem;font-weight: 800;
  letter-spacing: -0.35rem;line-height: 1.1;
}
.sticky-card p{
  font-size: 1.125rem;
  font-weight: 500;
}
.sticky-card{
  position: relative;
  width: 100%;
  height: 100svh;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  padding: 1.5rem;
  gap: 3em;
  will-change: transform;
}

.sticky-card::after{
  content: "";
  position: absolute;opacity: var(--after-opacity,0);
  top: 0;
  left: 0;height: 100%;transition: 0.1s ease opacity;
  background-color: rgba(0,0,00.5);
  width: 100%;z-index: 2;
  pointer-events: none;
}
.sticky-card-index{
  flex: 2;
}
.sticky-card-content{
  flex: 4;
  padding-top: 1.5rem;
}
.sticky-card-content-wrapper{gap: 1.5em;
  width: 75%;
  display: flex;flex-direction: column;
}
.sticky-card-header{
  width: 75%;
}
.sticky-card-img img{
  aspect-ratio: 5/3;
}
.sticky-card-copy{
  display: flex;
  gap: 1.5em;background-color: black;
}
.sticky-card-copy-title{
  flex: 2;
}
.sticky-card-copy-description{
  flex: 4;
}
.sticky-card-copy-title p{
  font-weight: 650;
  text-transform: uppercase;
}

@media (max-width:1200px) {
  .sticky-card{
    flex-direction: column;gap: 0;
  }
  .sticky-card-content-wrapper{
    width: 100%;
  }
  .sticky-card-copy{
    flex-direction: column;gap: 0.5rem;
  }
  .sticky-card-index{
    flex: 1;
  }
  .sticky-card h1{
    font-size: 2rem;letter-spacing: 0;
  } .sticky-card p{
    font-size: 1rem;
  }

 
}