.article {

    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
}


.slidersectionart {
    width: 100%;
    /* height: 30vh; */
    /* background-color: red; */
}

.stacked-container {
    position: relative;
}

.wowarticlemain {
    position: relative;
    width: 100%;
    height: 100svh;
    background-color: #000000;
    /* color: #1a1a1a; */
    display: flex;
    padding: 1.5rem;
    gap: 3em;z-index: 999;
    will-change: transform;
    padding: 2vw 6vw;
    /* background-color: rgb(0, 255, 208); */
}

.article1 {
    flex: 1;
    /* background-color: rgb(55, 255, 0); */
    height: 80vh;
}

.article1 img,
.chimg img {
    border-radius: 11px;
}

.article2 {
    flex: 1;
    /* background-color: rgb(255, 0, 204); */
    height: 80vh;
    justify-content: center;
    gap: 3em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.chimg {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(0, 0, 0); */
}

.chimg img {
    width: 40%;
    height: 40vh;
}

.chimg h3 {
    position: absolute;
    mix-blend-mode: difference;

    font-size: 2em;
    color: #fff;
    font-family: interbold;
}

.datetime {
    color: #fff;
    padding: 1vw 1vw;
    max-width: 500px;
    width: 90%;
}

.datetime h2 {
    text-transform: capitalize;
    font-size: 1em;

}

.datetime p {
    font-size: 0.91em;
    color: #898989;
}

@media (max-width:800px) {
    .wowarticlemain {
        flex-direction: column;
    }

    .article1 {
        display: none;
    }

    .chimg img {
        width: 100%;
        height: 30vh;
    }
}

@media (max-width:500px) {


    .chimg {
        max-width: 500px;
    }
}