
.aboutservvises {
    width: 100%;

    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0vw 4vw;
}

.aboutser1 {
    text-transform: uppercase;
    width: 40%;
    font-size: 0.89em;
    display: flex;
    color: rgb(239 239 222);
    justify-content: space-between;
}

.aboutser2 {
    color: #bbbbbb;
    text-transform: uppercase;
    font-size: 1.1em;

}

.abhr {
    margin-top: 0.2em;
    background-color: rgb(37, 37, 37);
    opacity: 1;
    height: 1px;
}

@media (max-width:500px) {
      .aboutser1,
    .aboutser2 {
        font-size: 0.4em;
    }
}
@media (max-width:1200px) {
  .aboutser1,.aboutser2{
    font-size: 0.7em;
    white-space: nowrap;
  }
.noner{
    display: none;
}
}