.pricing {
    width: 100%;
    min-height: 140vh;
    background-color: rgb(0, 0, 0);
}

.pricingtransition {
    width: 100%;
    height: 40vh;
    font-size: clamp(3rem, 7vw, 9rem);
    color: white;
    letter-spacing: -0.1em;overflow: hidden;
    font-weight: 700;
    font-family: interbold;
    /* background-color: red; */
}

.pricingdiv {
    gap: 1em;
    width: 100%;

    display: flex;
    padding: 3vw 2vw;
    min-height: 80vh;

    /* background-color: rgb(0, 0, 0); */
}

.threetype {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
    flex: 1;
    border-radius: 6px;
    padding: 2vw 2vw;
    /* background-color: rgb(0, 0, 0); */
    color: #fff;
    border: 1px solid rgb(187 187 187 / 20%);
}

.pricebox {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-bottom: 1px solid rgb(187 187 187 / 20%);

}

.headofprice {
    display: flex;
    align-items: center;
}

.headofprice h1 {
    font-size: 5em;
}

.headofprice p {
    font-size: 1.1em;font-family: interbold;
    color: #999999;
    margin-top: 40px;
}

.headofptags {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.headofptags p {
    color: #999999;
}

.pricecontentbox {
    display: flex;
    flex-direction: column;
    gap: 1.3em;
}

.pricecontentbox p {
    font-size: 1em;
    font-style: normal;

    font-variant: normal;

    font-weight: 700;
    letter-spacing: 0px;
    line-height: 21.2px;
}

.tickspolicy {
    display: flex;
    gap: 10px;
}

.act {
    color: rgb(114 114 114);
    font-size: 0.97em;
}

@media (max-width:1200px) {
    .pricingdiv {
        flex-direction: column;
    }

    .headofprice h1 {
        font-size: 4em;
    }
}


@media (max-width:500px) {
    .pricingdiv {
        flex-direction: column;
    }

    .headofprice h1 {
        font-size: 3.3em;
    }

    .threetype {
        padding: 2vw 5vw;
    }

    .pricingtransition {
        font-size: clamp(2rem, 7vw, 9rem);
        height: auto;text-align: center;
    }
}