.personalprofilemain {
    width: 100%;
    padding: 5vw 2vw;
    position: relative;
    min-height: 175vh;
    /* background-color: blue; */

}

.maincontentsection {
    width: 100%;
    display: flex;
    padding: 1vw 1vw;
    /* background-color: red; */
    justify-content: space-between;

}

.postionleft {
    width: 20%;
    flex-direction: column;
    height: 60vh;
    gap: 9em;
    display: flex;
}

.postionleft img {
    border-radius: 12px;
    object-position: center center;
    object-fit: cover;

}

.postionright {
    width: 50%;
    height: 89vh;
    padding: 9vw 0vw;
    display: flex;
    justify-content: flex-end;
    /* background-color: rgb(234, 33, 66); */

}

.postionright video {
    width: 62%;
    height: 90vh;

    border-radius: 12px;
}

.profileanimationcontent {
    width: 71%;
    transform: translate(-50%, -50%);
    z-index: 555;

    font-size: clamp(2rem, 5vw, 6rem);
    line-height: 88%;
    position: absolute;mix-blend-mode: difference;
    font-family: 'interbold';
    top: 38%;
    left: 52%;
}

.personalcontents {
    width: 100%;
    max-width: 500px;
    display: flex;color: #fff;
    flex-direction: column;
    gap: 1em;
    font-family: interbold;
    padding: 1vw 2vw;
    margin: 0 auto;

    /* background-color: rgb(19, 201, 61); */
}
.word{
    color: rgba(255, 255, 255, 0.73);
}
.ser{
    display: flex;
 flex-wrap: wrap;
}
@media (max-width:1200px) {

    .profileanimationcontent {
        font-size: clamp(2rem, 6vw, 6rem);
    }

}

@media (max-width:500px) {
    .profileanimationcontent {
        width: 100%;

        top: 33%;
        left: 52%;

    }    .profileanimationcontent {
        font-size: clamp(1.6rem, 4vw, 6rem);
    }

    .personalprofilemain {
        min-height: auto;
    }

    .postionright video {
        width: 100%;
        height: 38vh;
        margin-top: 18em;
    }

    .postionleft {

        gap: 17em;
    }
}

