.awards{
    width: 100%;margin-top: 8em;
    min-height: 150vh;
    /* background-color: yellow; */
}

.bigawardtext{
    width: 100%;display: flex;
    justify-content: flex-end;
    padding: 0vw 5vw;
    /* background-color: rgb(255, 0, 187); */
}
.bigawardtext h1{
    
    font-size: clamp(4rem, 14vw, 13rem);
    color: white;
    letter-spacing: -0.1em;
    font-weight: 700;
    font-family: interbold;

}
.bigawardtext span {
    font-size: clamp(5rem, 7vw, 11rem);
        color: white;
         font-weight: 700;
    font-family: interbold;
}
.win{
    font-size: 0.88em;padding: 1vw 4vw;
    color: #858585;font-family: interbold;
}

.detailcontainerawards{
    width: 100%;
display: flex;
    flex-direction: column;
    gap: 1em;
    /* background-color: #ff1164; */

}
.contentsofallaward{
    width: 100%;
display: flex;
    /* background-color: rgb(0, 255, 225); */
}
.awardtext{
    flex: 2;color: #fff;
 
    padding: 0vw 4vw;
    display: flex
;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
    gap: 5em;
}
.awardimage{
  flex: 1;
      display: flex
;
    justify-content: space-between;
    align-items: center;
    /* background-color: green; */
}
.awardimage img{
    width: 107px;border-radius: 10px;
    height: 123px;
}
@media (max-width:769px) {
    .bigawardtext span {
        font-size: clamp(4rem, 5vw, 5rem);
    }

    .bigawardtext {
        align-items: center;
        justify-content: center;
    }
       .awardimage img{
    width: 70px;
    height: 90px;
}
   
}

@media (max-width:500px) {
    .bigawardtext span {
        font-size: clamp(2rem, 3vw, 3rem);
    }
   
.awardimage img{
width: 24%;
        height: 94px;
}

}

@media (max-width:1200px) {
   .contentsofallaward{
    flex-direction: column;gap: 1.5em;
   }
   .awardimage img{
 width: 24%;
        height: 94px;
}
.awardtext:last-child(p){
    display: none;
}
   .win{
    display: none;
   }

}