.testimonial{
    width: 100%;
    min-height: 140vh;
    background-color: blue;
}
.containerofMrqueeSlider{
width: 100%;
    justify-content: center;
    display: flex
;
    align-items: center;
  
    background-color: rgb(0 0 0);
}
.test1two{
    width: 100%;align-items: center;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
}
.peoplereviews{
    width: 25%;display: flex;
    flex-direction: column;
    gap: 1em;border: 1px solid #BBBBBB33;
    padding: 1vw 2vw;
       border-radius: 10px;

}
.nth{
    font-size: 19px;font-weight: 700;
    color: #fffffff1;
}
.profilecard{
    display: flex;justify-content: space-between;
}
.profilecard img{
    width: 50px;
    height: 50px;
}
.namestestimonial {
 display: flex;justify-content: space-around;
flex-direction: column;
}
.namestestimonial p:nth-child(1){
    font-size: 19px; color: #fff;font-family: interbold;
}
.namestestimonial p:nth-child(2){
    font-size: 14px; color: #999999;font-family: interbold;
}
