.custom{
    position: fixed;
    top: 0;
    left: 0;
   width: 19px;
    height: 19px;

    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%,-50%);
     z-index: 9999;
  background-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
}